:root {
  --color-dark-jungle-green: #1a2629;
  --color-science-blue: #035bcb;
  --color-white: #ffffff;
  --color-snow-drift: #f9f9f9;
  --color-green-teal: #00b364;
  --color-dim-grey: #6b6b6b;
  --color-alabaster-grey: #e4e4e4;
}