.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--color-alabaster-grey);
  border-radius: 0.5rem;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  
  &:hover {
    background-color: var(--color-white);
    border-color: var(--color-white);
    box-shadow: 1px 1px 5px 0px rgba(107,107,107,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(107,107,107,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(107,107,107,0.75);
  }
}

.card-header {
  display: flex;
  gap: 1rem;
  align-items: center;

  h2 {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.25rem;
  width: 3.25rem;
  background-color: var(--color-dim-grey);
  border-radius: 50%;
  color: var(--color-white);
  flex-shrink: 0;
  object-fit: cover;
  
  svg {
    height: 2rem;
    width: 2rem;
  }
}

.card-phone-number,
.card-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  
  p {
    color: var(--color-dim-grey);
    font-weight: 500;
  }
  
  span {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .btn {
    width: 100%;
  }
}

@media (min-width: 26.5rem) {
  .card-footer {
    flex-direction: row;
  }
}

@media (min-width: 48rem) and (max-width: 63.99rem) {
  .card {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc((100% - 2rem) / 2);
    max-width: none;
  }
}

@media (min-width: 64rem) {
  .card {
    flex-basis: calc((100% - 4rem) / 3);
  }
}