@import './base/reset.css';
@import './base/variables.css';
@import './base/fonts.css';
@import './components/header.css';
@import './components/button.css';
@import './components/card.css';
@import './components/footer.css';
@import './components/loader.css';

body {
  display: flex;
  flex-direction: column;
  font-family: 'Gilroy', sans-serif;
  background-color: var(--color-snow-drift);
  color: var(--color-dark-jungle-green);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 2rem;
}

.emptyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  color: var(--color-dim-grey);
  font-weight: 500;
}

@media (min-width: 48rem) {
  .container {
    flex-direction: row;
    align-items: start;
    padding-inline: 2rem;
  }

  .emptyList {
    align-self: center;
  }
}